@using Microsoft.Extensions.Configuration;
@model Traffic_Control_System.Models.VideStreamViewModel
@{
    ViewData["Title"] = "Video Test";
}

<link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
<script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>

<div>
    <video id="my-video" class="video-js vjs-default-skin" controls preload="auto" width="640" height="360" data-setup='{}'>
        <source src="@Model.VideoURL" type="application/x-mpegURL">
    </video>
</div>
<script>
    var player = videojs('my-video', {
        controls: true,
        autoplay: false,
        preload: 'auto',
        techOrder: ['html5']
    });

    player.play();
</script>