@page
@model AccountUnderReviewModel
@{
    ViewData["Title"] = "Account under Review";
    Layout = "~/Views/Shared/_LayoutNoNavbar.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    Your account is currently under review. You will receive an email once your account has been approved.
</p>