@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "~/Views/Shared/_LayoutNoNavbar.cshtml";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />

<p>After confirming you email your account will need to be approved by administrators to access the site. You will receive an email after your account is approved.</p>